<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="https://kit.fontawesome.com/86be0ff359.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Joy cafe | Home page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 sticky-top" id="mainNavbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Joy cafe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
        </div>
    </nav>

    <div class="row align-items-center" id="about">
        <div class="col-6 offset-3 text-center">
            <h1 class="display-4">Joy cafe</h1>
            <p>This it the Joy cafe! Joy cafe was founded in 1986 and has been a high quality cafe ever since!!</p>
        </div>
    </div>

    <section class="container-fluid px-0" id="about2">
        <div class="row align-items-center content" id="coffeeBeans">
            <div class="col-md-6 order-2 order-md-1 noPadding">
                <img src="imgs/coffeeBeans1-min.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <h1 class="display-5">Our coffee <i class="fas fa-mug-hot"></i></h1>
                <p>We have a huge collection of coffee. The coffee we have is categorised by: 
                    <ol>
                        <li><strong>Flavour</strong></li>
                        <li><strong>Strongness</strong></li>
                        <li><strong>Region</strong></li>
                        <li><strong>Age</strong></li>
                    </ol>
                </p>
            </div>
        </div>

        <div class="row align-items-center content" id="products">
            <div class="col-md-6 order-2 noPadding">
                <img src="imgs/products-min.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-1 text-center">
                <h1 class="display-5">Our products <i class="fas fa-cookie-bite"></i></h1>
                <p>In Joy cafe you will find, 24 soft and hard different handmade cookies, 37 tea flavors (green,red,dark) and many other cafe/bakery products!</p>
            </div>
        </div>

        <div class="row align-items-center content" id="employees">
            <div class="col-md-6 order-2 order-md-1 noPadding">
                <img src="imgs/employees-min.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center">
                <h1 class="display-5">Our people <i class="fas fa-heart"></i></h1>
                <p>Our employees are consider family, because Joy cafe is a big family and you can feel that from the second you step in our store! Also our people(barristas) are the best professionals!</p>
            </div>
        </div>
    </section>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">&copy Joy cafe</span>
        </div>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>