body{
    font-family: 'Montserrat', sans-serif;
}

.row{
    margin: auto;
}

#about{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/cafe1-min.jpg) no-repeat center center fixed ;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.content{
    padding-top: 10px;
    padding-bottom: 10px;
}

#about2{
    background: rgb(160,82,45);
    color: rgb(16,12,8);
}